<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema</title>
</head>
<body>
    {% block movies %}
    {% endblock %}
    {% block ticket_per_user %}
    {% endblock %}
    {% block tickets %}
    {% endblock %}
    {% block register %}
    {% endblock %}
    {% block login %}
    {% endblock %}
    {% block buy_ticket %}
    {% endblock %}
    {% block add_movie %}
    {% endblock %}
    {% block delete_movie %}
    {% endblock %}
    {% block edit_movie %}
    {% endblock %}
    {% block ticket_per_projection %}
    {% endblock %}
    {% block ticket_per_projection_and_user %}
    {% endblock %}
    {% block data %}
    {% endblock %}
</body>
</html>